*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  background-color: gray;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.input {
  font-size: 12px;
  font-size: max(12px, 1em);
  font-family: inherit;
  padding: 0.1em 0.1em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}